<!DOCTYPE html>
<html>
<head>
  <title>Details</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1><%= p %> company details</h1>

  <% details.forEach(function(detail) { %>
    <div class="office-detail">
      <h2><%= detail.name %></h2>
      <p>Pros: <%= detail.pros %></p>
      <p>Cons: <%= detail.cons %></p>
      <p>Rating: <%= detail.rating %></p>
    </div>
  <% }); %>

  <a href="/" class="button">Back to Home</a>
  
</body>
</html>
